body{
  background-image: url('../images/bgs/bg4.jpg');
  background-repeat: no-repeat;
  background-attachment:fixed;
}

footer{
  bottom: 0;
}

.main-container {
  max-width: 900px;
  /*margin-left: 17rem; /* Same width as the sidebar + left position in px */
  margin: 0 auto;
  padding: 0px 10px;
}